In [ ]:
a = [90, "Python", 3.87]
print(a[0]) #90
print(a[1]) #Python
print(a[2]) #3.87

90
Python
3.87

In [ ]:
#Se puede también acceder al último elemento usando el índice [-1]
print(a[-2]) #Python

Python

In [ ]:
#Y si queremos modificar un elemento de la lista, basta con asignar con el operador = el nuevo valor.
a[2] = 1
print(a) #[90, 'Python', 1]

[90, 'Python', 1]

In [ ]:
#Un elemento puede ser eliminado con diferentes métodos como veremos a continuación,
#o con del y la lista con el índice a eliminar.
l = [1, 2, 3, 4, 5]
del l[1]
print(l) #[1, 3, 4, 5]

[1, 3, 4, 5]

In [ ]:
x = [1, 2, 3, ['p', 'q', [5, 6, 7]]]
print(x[3][0])    #p
print(x[3][2][0]) #5
print(x[3][2][2]) #7

p
5
7

In [ ]:
# Y de la misma manera podemos modificar múltiples valores de la lista a la vez usando :
l = [1, 2, 3, 4, 5, 6]
l[0:3] = [0, 0, 0]
print(l) #[0, 0, 0, 4, 5, 6]

[0, 0, 0, 4, 5, 6]

In [ ]:
# Hay ciertos operadores como el + que pueden ser usados sobre las listas.
l = [1, 2, 3]
l += [4, 5]
print(l) #[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
#Y una funcionalidad muy interesante es que se puede asignar una lista con n elementos a n variables.
l = [1, 2, 3]
x, y, z = l
print(x, y, z) #1 2 3

1 2 3

In [ ]:
lista = [5, 9, 10]
for l in lista:
    print(l)
#5
#9
#10

5
9
10

In [ ]:
# Si necesitamos un índice acompañado con la lista, que tome valores desde 0 hasta n-1, se puede hacer de la siguiente manera.
lista = [5, 9, 10]
for index, l in enumerate(lista):
    print(index, l)
#0 5
#1 9
#2 10

0 5
1 9
2 10

In [ ]:
# O si tenemos dos listas y las queremos iterar a la vez, también es posible hacerlo.
lista1 = [5, 9, 10]
lista2 = ["Jazz", "Rock", "Djent"]
for l1, l2 in zip(lista1, lista2):
    print(l1, l2)
#5 Jazz
#9 Rock
#10 Djent

5 Jazz
9 Rock
10 Djent

In [ ]:
#Y por supuesto, también se pueden iterar las listas usando los índices como hemos visto al principio,
# y haciendo uso de len(), que nos devuelve la longitud de la lista.
lista1 = [5, 9, 10]
for i in range(0, len(lista)):
    print(lista1[i])
#5
#9
#10

5
9
10

In [ ]:
l = [1, 2]
l.append(3)
print(l) #[1, 2, 3]

[1, 2, 3]

In [ ]:
# extend(<iterable>)
# El método extend() permite añadir una lista a la lista inicial.
l = [1, 3]
l.insert(1, 2)
print(l) #[1, 2, 3]

[1, 2, 3]

In [ ]:
#remove(<obj>)
#El método remove() recibe como argumento un objeto y lo borra de la lista.
l = [1, 2, 3]
l.remove(3)
print(l) #[1, 2]

[1, 2]

In [ ]:
#pop(index=-1)
# El método pop() elimina por defecto el último elemento de la lista,
# pero si se pasa como parámetro un índice permite borrar elementos diferentes al último.
l = [1, 2, 3]
l.pop()
print(l) #[1, 2]

[1, 2]

In [ ]:
# reverse()
# El método reverse() inverte el órden de la lista.
l = [1, 2, 3]
l.reverse()
print(l) #[3, 2, 1]

[3, 2, 1]

In [ ]:
# sort()
# El método sort() ordena los elementos de menos a mayor por defecto.
l = [3, 1, 2]
l.sort()
print(l) #[1, 2, 3]

[1, 2, 3]

In [ ]:
# Y también permite ordenar de mayor a menor si se pasa como parámetro reverse=True
l = [3, 1, 2]
l.sort(reverse=True)
print(l) #[3, 2, 1]

[3, 2, 1]

In [ ]:
# index(<obj>[,index])
#El método index() recibe como parámetro un objeto y devuelve el índice de su primera aparición.
#Como hemos visto en otras ocasiones, el índice del primer elemento es el 0.
l = ["Periphery", "Intervals", "Monuments"]
print(l.index("Intervals"))

1

In [ ]:
#También permite introducir un parámetro opcional que representa el índice desde el que comenzar la búsqueda del objeto.
#Es como si ignorara todo lo que hay antes de ese índice para la búsqueda, en este caso el 4.
l = [1, 1, 1, 1, 2, 1, 4, 5]
print(l.index(1, 4)) #5

5

In [ ]:
#Elabora un programa que lea un arreglo de 10 posiciones que contenga las edades de 10 de sus compañeros,
#calcule el promedio de las edades, obtenga la edad mayor y la edad menor. Al final imprima todos los elementos de la lista

In [ ]:
edades = []
for i in range(10):
    edad= int (input (f"Ingresar la edad del alumno {i+1}:"))
    edades.append(edad)
promedio = sum(edades) / len(edades)
edad_mayor = max(edades)
edad_menor = min(edades)
print (f"el promedio de edades es {promedio}")
print (f"los alumnos que son mayores de edad son {edad_mayor}")
print (f"los alumnos que son menores de edad son {edad_menor}")

Ingresar la edad del alumno 1:17
Ingresar la edad del alumno 2:18
Ingresar la edad del alumno 3:18
Ingresar la edad del alumno 4:17
Ingresar la edad del alumno 5:20
Ingresar la edad del alumno 6:17
Ingresar la edad del alumno 7:18
Ingresar la edad del alumno 8:17
Ingresar la edad del alumno 9:18
Ingresar la edad del alumno 10:20
el promedio de edades es 18.0
los alumnos que son mayores de edad son 20
los alumnos que son menores de edad son 17

In [ ]:
#Elabore un programa que lea un arreglo de 14 posiciones que contenga los sueldos de los trabajadores de una empresa
#agregue el sueldo de un empleado más de $2,500.00, Calcule la nomina total (suma de todos los sueldos) ordene el arreglo
#Ordene los datos, elimine el primer elemento de la fila, Al final imprima todos los elementos de la lista

In [ ]:
sueldos = []
for i in range(14):
    sueldo = float(input(f"Ingrese el sueldo del trabajador {i+1}: "))
    sueldos.append(sueldo)

nuevo_sueldo = float(input("Ingrese el sueldo del nuevo empleado: "))
if nuevo_sueldo > 2500.00:
    sueldos.append(nuevo_sueldo)
else:
    print("El sueldo del nuevo empleado debe ser más de $2,500.00. No se ha agregado.")

nomina_total = sum(sueldos)

sueldos.sort()

sueldos.pop(0)

print(f"\nNómina total: ${nomina_total:.2f}")
print("Sueldos ordenados y sin el primer elemento:")
for sueldo in sueldos:
    print(f"${sueldo:.2f}")

Ingrese el sueldo del trabajador 1: 1300
Ingrese el sueldo del trabajador 2: 1400
Ingrese el sueldo del trabajador 3: 1500
Ingrese el sueldo del trabajador 4: 1600
Ingrese el sueldo del trabajador 5: 1700
Ingrese el sueldo del trabajador 6: 1800
Ingrese el sueldo del trabajador 7: 1900
Ingrese el sueldo del trabajador 8: 2000
Ingrese el sueldo del trabajador 9: 2100
Ingrese el sueldo del trabajador 10: 2200
Ingrese el sueldo del trabajador 11: 2300
Ingrese el sueldo del trabajador 12: 2400
Ingrese el sueldo del trabajador 13: 2450
Ingrese el sueldo del trabajador 14: 2460
Ingrese el sueldo del nuevo empleado: 3000

Nómina total: $30110.00
Sueldos ordenados y sin el primer elemento:
$1400.00
$1500.00
$1600.00
$1700.00
$1800.00
$1900.00
$2000.00
$2100.00
$2200.00
$2300.00
$2400.00
$2450.00
$2460.00
$3000.00